{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i> Contact us <small
                        class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small>
                </h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Who are we?</h4>
                            <p>We are a team of technology lovers who work hard to provide you with the latest news,
                                reviews, and information from the tech world. Our aim is to keep you updated and
                                interested in the constantly changing world of technology.</p>

                            <h4>How do we help?</h4>
                            <p>We assist by gathering and summarizing the newest technology news and offering detailed
                                reviews of various products and services. Our platform gives users the chance to share
                                their opinions and experiences, creating a community of tech enthusiasts who can learn
                                from one another.</p>

                            <h4>How can you get involved?</h4>
                            <p>Join us by signing up and sharing your thoughts in comments and reviews. Your opinions
                                are important to us, and we invite you to take part in our conversations to help others
                                make smart choices in technology.</p>
                        </div>
                        <div class="col-lg-7">
                            <form class="form-wrapper" method="post" action="{% url 'homepage:contact' %}">
                                {% csrf_token %}
                                <input name="name" type="text" class="form-control" placeholder="Your name">
                                <input name="email" type="emil" class="form-control" placeholder="Email address">
                                <input name="subject" type="text" class="form-control" placeholder="Subject">
                                <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                                <div class="pb-3">{{form.captcha}} </div>
                                <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}