{% load static %}

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            {% for n in news %}
                {% if forloop.counter == 1 %}
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <img src="{% static 'upload/tech_01.jpg' %}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="blog.html" title="">Technology</a></span>
                                    <h4><a href="{% url 'homepage:news' news_id=n.id %}" title="">Say hello to real handmade office furniture! Clean &
                                            beautiful design</a></h4>
                                    <small><a href="{% url 'homepage:news' news_id=n.id %}" title="">24 July, 2017</a></small>
                                    <small><a href="author.html" title="">by Amanda</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->
                {% endif %} 
                {% if forloop.counter == 2 or forloop.counter == 3 %}
                <div class="second-slot">
                    <div class="masonry-box post-media">
                        <img src="{% static 'upload/tech_02.jpg' %}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="blog.html" title="">Gadgets</a></span>
                                    <h4><a href="{% url 'homepage:news' news_id=n.id %}" title="">Do not make mistakes when choosing web hosting</a>
                                    </h4>
                                    <small><a href="{% url 'homepage:news' news_id=n.id %}" title="">03 July, 2017</a></small>
                                    <small><a href="author.html" title="">by Jessica</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->
                {% endif %} 
            {% endfor %}
        </div><!-- end masonry -->
    </div>
</section>