{% load static %}
{% if news|length > 2 %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            {% for n in news %}
                {% if forloop.counter == 1 %}
                    <div class="first-slot d-none d-md-block">
                        <div class="masonry-box post-media">
                            <img src="{{ n.image.url }}" alt="" class="img-fluid">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                      <!--<span class="bg-orange"><a href="blog.html" title="">{{n.topic}}</a></span>-->
                                        <h4><a href="{% url 'homepage:news' news_id=n.id %}" title="">{{n.title}}</a></h4>
                                        <small><a href="{% url 'homepage:news' news_id=n.id %}" title="">{{n.published_date|date:"d D m Y"}}</a></small>
                                        <small><a href="author.html" title="">{{n.author}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->
                {% endif %} 
                {% if forloop.counter == 2 or forloop.counter == 3 %}
                    <div class="second-slot">
                        <div class="masonry-box post-media">
                            <img src="{{ n.image.url }}" alt="" class="img-fluid">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                    <!--<span class="bg-orange"><a href="blog.html" title="">{{n.topic}}</a></span>-->
                                        <h4><a href="{% url 'homepage:news' news_id=n.id %}" title="">{{n.title}}</a></h4>
                                        <small><a href="{% url 'homepage:news' news_id=n.id %}" title="">{{n.published_date|date:"d D m Y"}}</a></small>
                                        <small><a href="author.html" title="">{{n.author}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                {% endif %} 
            {% endfor %}
        </div><!-- end masonry -->
    </div>
</section>
{% endif %}