{% load static %}
{% load template_tag %}
{% load humanize %} 

<div class="widget">
    <h2 class="widget-title">Popular Posts</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            {% for post in posts %}
            <a href="{% url 'blog:single' post_id=post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="{{ post.image.url }}" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">{{post.title|truncate_w:6|safe}}</h5>
                    <small>{{post.published_date| naturaltime}}</small>
                </div>
            </a>
            {% endfor %}
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->